#vdWrap, #hdWrap, #ssdWrap{
    float:left;
    width :29%;
    height: 550px;
    margin: 1%;
    border:1px solid black;
    padding: 1%
}
.innerWrap{
    border: 1px solid red;
    width:90%;
    margin: 1px auto;
    margin-bottom: 3%;
    padding: 3%;
}

